#logo-back {
   
    color: antiquewhite;
    background-color: brown;
    background-image: url("../david-clode-python.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;

}

form {
    display:flex;
    flex-direction: column;
}