* {
    outline: 2px orangered solid;
 box-sizing: border-box;
}



body {
    margin: 0;
        
}

.content{
    display: flex;
    min-height: 100vh;
}
.image-div {
    display: flex;
    flex-direction: column;
    flex:3;
    justify-content: space-between;
    color: antiquewhite;
    background-color: brown;
    background-image: url("../david-clode-python.jpg");
    background-size: cover;
    background-position: center center;

}


#logo-text{
  background: black;
  opacity: 0.6;
  color: white;
  text-align: center;
  font-size: 1.2em;
  font-family: roboto;
}

.form-area{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
  padding: 15px;
}
.container{
  width: 60em;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  align-self: center;
}
form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 5px;
}
.input-box{
  display: flex;
  width: 35%;
  padding: 5px;
  margin: 5px;
  align-items: center;
  justify-content:center;
}
/* didnt work, review nth child*/ 
.input-box:nth-child(2n){
  justify-content: end;
}

